/** @format */

body {
	font-family: sans-serif;
}
.board {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
}
.cell__container {
	display: flex;
}
.squares {
	width: 30px;
	height: 30px;
	border: 2px solid black;
}
